.header#myHeader {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: var(--primary);
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}


.header#myHeader img {
  height: 2.5rem;
  transition: width 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .header#myHeader img {
    height: 1.5rem;
  }

  .header-title {
    font-size: medium;
  }
}