#root {
  width: 100%;
  /* overflow-x: hidden; */
}

.set-local {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.no-questions {
  color: var(--primary);
  text-align: center;
}